.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: var(--foreground);
  text-align: center;
  margin-top: 5rem;
}

.profileName {
  font-size: 4rem;
  font-weight: bold;
  color: var;
  margin-bottom: 1rem;
}

.profileJob {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--foreground);
}

.profileDescription {
  font-size: 1.5rem;
  line-height: 1.8;
  max-width: 100%;
  margin-top: 2rem;
  color: var(--foreground);
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
}

.link {
  color: #00bcd4;
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #ccc;
}
