.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: var(--foreground);
  text-align: center;
  margin-top: 10rem;
}

.profileName {
  font-size: 4rem;
  font-weight: bold;
  color: var;
  margin-bottom: 1rem;
}

.profileJob {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--foreground);
}

.profileDescription {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 100%;
  margin: 2rem 6rem;
  color: var(--foreground);
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.snsLinks {
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.snsIcon {
  width: 45px;
  height: 45px;
  transition: transform 0.3s ease-in-out;
}

.snsIcon:hover {
  transform: scale(1.5);
}

.link {
  color: #00bcd4;
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #ccc;
}

@media (max-width: 600px) {
  .profileContainer {
    display: flex;
  }

  .profileDescription {
    font-size: 0.9rem;
    text-align: left;
    margin: 1rem;
  }

  .snsLinks {
    gap: 1.5rem;
  }

  .snsIcon {
    width: 38px;
    height: 38px;
  }
}
