@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --background: linear-gradient(to bottom, #f4c4f3, #00f5a0, #00d9f5);
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans JP', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
    margin: 10px;
  }
  .profileContainer {
    padding-top: 2rem;
  }
  .profileName {
    font-size: 2.5rem;
  }
  .profileJob {
    font-size: 1.2rem;
  }
  .profileDescription {
    font-size: 1rem;
  }
  .profileImage {
    width: 100px;
    height: 100px;
  }
}
